target/

.settings
.project
.classpath

.idea
*.iml

.metals
.bloop

target/

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.ensime
.ensime_cache/

.scalafmt.conf
